.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.swp
*.orig
.swiftpm/
SourcePackages/
Chatterbox.xcodeproj/xcuserdata/
Chatterbox.xcodeproj/project.xcworkspace/xcuserdata/
Pods/
Carthage/
fastlane/report.xml
fastlane/test_output/

